<label for="tags">Tags</label>
<!--<fa-icon [icon]="faEdit" transform="grow-5" style="margin-left: 20px; cursor: pointer; color: #72a4c2" (click)="open(content)"></fa-icon>-->
<div style="border: 1px solid #ced4da; border-radius: 5px; height: 88px">
   <!-- display tags selected inside html from project detail-->
  <div style="display: inline-block; margin-left: 10px" id="tags" *ngFor="let tag of selectedTagArr">
    <div>
      <h4 style="
          margin-top: 15px;
          border: 1px solid transparent;
          border-radius: 5px;
          padding: 4px 8px 4px 8px;
          background-color: rgb(242, 105, 38);

          color: #fff;
          flex-grow: 1;
        ">
        <abbr title="{{ tag.description }}">{{ tag.name }}</abbr>
      </h4>
    </div>
  </div>
</div>
<!--adding a custom tag upon modal-->
<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Add a new custom Tag</h2>
    <button type="button" class="close btn btn-orange" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="overflow-y: visible; position: static">
    <form>
      <div class="form-group">
        <label for="tag-name-box">Tag Name:</label>
        <input type="text" class="form-control" id="tag-name-box" name="Name" [(ngModel)]="tag1.name" />
      </div>

      <div class="form-group">
        <label for="tag-description-box">Tag Description:</label>
        <textarea class="form-control" id="tag-description-box" name="Description" [(ngModel)]="tag1.description"></textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-orange" (click)="registerTagFromService()">
      Save
    </button>

    <button type="button" class="btn btn-orange" (click)="d('Cross click')">
      Exit
    </button>
  </div>
  <div id="anime" *ngIf="message.length > 0">
    {{ message }}
  </div>
</ng-template>
