.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper {
      padding: 75px;
  }

  button {
      float: right;
  }

  .box {
      padding: 30px;
  }