
<div class="wrapper">
    <div class="container">
        <div class="row">
    
            <!-- Column 1 -->
            <div class="col-sm">
                <mat-form-field appearance="fill">
                    <mat-label>ID</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
    
            <!-- Column 2 -->
            <div class="col-sm">
                <mat-form-field appearance="fill">
                    <mat-label>Owner</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Assigned To</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Tags</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
    
            <!-- Column 3 -->
            <div class="col-sm">
                <mat-form-field appearance="fill">
                    <mat-label>Phase</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Tag Options</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
                
    
            </div>
        </div>
    
    
    </div>

    <button type="button" class="btn btn-secondary">Submit</button>

</div>


