.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wrapper {
    padding: 75px;
}

button {
    float: right;
}

.box {
    padding: 30px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

#submit {
    margin-left: 10px;
}

div.card {
    width: 90%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 75%;
    padding: 20px;
}

div.outside {
    display: flex;
    justify-content: center;
    /* padding: 20px auto; */
}
.tag-desc{
    border: 1px solid #ced4da; 
    border-radius: 5px; 
    height: 88px;
}