#anime {
    position: center;
    animation-name: example;
    animation-duration: 2s;
  }
  
  @keyframes example {
    0% {
      opacity: 0;
      transform: scale(0);
    }
  
    60% {
      transform: scale(1.5);
      opacity: 1;
    }
  }
  .login-wraper label{
    font-size: large;
  }
  #login {
    position: center;
    animation-name: example3;
    animation-duration: 2s;
  }
  .login-box{
    padding: auto 150px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .signin-btn{
    width: 120px;
    margin-left: auto;
    color: white!important;
  }
  .login-card{
    margin-top: 40px;
  }
  @keyframes example3 {
    0% {
      opacity: 0;
      transform: translate(10px, 0);
    }
  
    60% {
      transform: translate(-100px, 0);
      opacity: 1;
    }
  }

  .alert-dismissible {
      padding-right: 1.5rem;
  }
  .hidden-validate-height{
    min-height: 30px;
  }
 



  