<app-nav></app-nav>
<div class="wrapper">
  <nav id="sidebar" class="col-lg-1">
    <div class="sidebar-header">
      <h2>Instructions</h2>
    </div>
    <h3>How to:</h3>
    <ul class="list-unstyled components">
      <li class="active">
        <a
          href="#filter"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Filter Projects</a
        >
        <ul class="collapse list-unstyled" id="filter">
          <li>
            <a
              >You can filter by project tags, phase, name, status. To reset the
              project view, press Reset Filters button</a
            >
          </li>
        </ul>
      </li>
      <li class="active">
        <a
          href="#new-project"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Create New Project</a
        >
        <ul class="collapse list-unstyled" id="new-project">
          <li>
            <a
              >Click the Create Project button. Add a name and description in
              the Create Project Page.</a
            >
          </li>
        </ul>
      </li>
      <li class="active">
        <a
          href="#update"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Update Project</a
        >
        <ul class="collapse list-unstyled" id="update">
          <li>
            <a
              >Click the row of the project you wish to update to be redirected
              to the update project page.</a
            >
          </li>
        </ul>
      </li>
      <li class="active">
        <a
          href="#iteration"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Create Iteration</a
        >
        <ul class="collapse list-unstyled" id="iteration">
          <li>
            <a
              >To create a new iteration of a project, select a batch from the
              drop down iteration box and click the new iteration button.</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="#">About</a>
      </li>
    </ul>
  </nav>
  <div id="content" class="col-lg-9">
    <router-outlet></router-outlet>
  </div>
</div>

<!--
<app-iteration 
(batchIdNumber) = "changeBatchIdNumber($event)" 
(batchBatchIdString) = "changeBatchIdString($event)" 
></app-iteration> 

<h2>In App parent Component</h2>
<p>Batch id: {{batchIdNum}}</p>
<p>Batch string: {{batchBatchIdStr}}</p>
-->

<!---->
