<form >
<div class="container">
  <mat-card>
<!-- Search By Project Name -->
  <mat-grid-list cols="4" rowHeight="1:0.2">
    <mat-grid-tile>
      <mat-form-field appearance="fill" >
        <mat-label>Search Project Name:</mat-label>
        <input matInput class="from-control" (keyup)="applyFilter($event)" placeholder="Search For a Project" #input>
      </mat-form-field>
    </mat-grid-tile>
    <!-- Search By Tag available -->

  <mat-grid-tile>
    <mat-form-field appearance="fill">
    <mat-label>Project Tags:</mat-label>
      <mat-select name="tagList" (selectionChange)="filterTag($event)" [(ngModel)]="tagSelected">
        <mat-option value="noTag">Select a tag...</mat-option>
        <mat-option *ngFor="let tags of tag" value="{{tags.name}}">
          {{tags.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

<!-- Search By code status -->
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Project Status:</mat-label>
        <mat-select name="statusList" (selectionChange)="filterStatus($event)" [(ngModel)]=statusSelected>
          <mat-option value="noStatus">Select a status...</mat-option>
          <mat-option *ngFor= "let statuses of status" value="{{statuses}}">
            {{statuses}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        </mat-grid-tile>

        <!-- Search By code status -->
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Project Iteration:</mat-label>
        <mat-select>
          <!-- <mat-option *ngFor="let project of dataSource" [value]="project.status.name">
            {{project.status.name}}
          </mat-option> -->
          <mat-grid-tile>
            <app-iteration (batchIdNumber) = "changeBatchIdNumber($event)" (batchBatchIdString) = "changeBatchIdString($event)" class="mat-form-field-appearance-fill mat-form-field-infix"></app-iteration>
            <p>From app-iteration: id-{{batchIdNum}} batch-{{batchBatchIdStr}}</p>
            </mat-grid-tile> 
        </mat-select>
      </mat-form-field>
        </mat-grid-tile>
  </mat-grid-list>

  <div class="mat-elevation-z8">
    <input type="reset" (click)="reset()">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- namr Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row"> {{row.status.name}} </td>
      </ng-container>

      <!-- description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let row"> {{row.description}} </td>
      </ng-container>

      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
        <td mat-cell *matCellDef="let row"> {{row.owner.username}} </td>
      </ng-container>

      <ng-container matColumnDef="tags" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tags </th>
        <td mat-cell *matCellDef="let row">
          <span *ngFor="let in of row.tags">
            {{in.name}}
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data.-->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No Data Found Create New Project: "{{ input.value }}"
          <button
            mat-icon-button
            color="primary"
            mat-raised-button
            aria-label="HomeButton"
            routerLink="/create-project"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>

    </table>


    <mat-paginator  [pageSize]="5"  [length]="projects.length"
    [pageSizeOptions]="[5,10, 25, 100]"></mat-paginator>
  </div>

</mat-card>
  </div>
</form>