table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  /* width: 25%; */
}

.container{
  margin-top: 3em;
}

/* ---------- Group 5-------------------- */
.alert-viewpage{
  min-height: 30px;
  display: flex;
 
}

.alert-message-viewpage{
  align-items: center;
}

.iteration-row{
  min-width: 100px;
  max-width: 120px;
}

.iteration-select-width{ 
  min-width: 200px;
  max-width: 220px;
}
/* ---------- End Group 5-------------------- */